@charset "utf-8";
/* CSS */


.titulo {
  font-size: 60px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #cf92cf;
}


body {
  font-size: 20px;
  text-align: justify;
  padding: 60px;
  color: rgba(201, 121, 194, 0.6);
  background-color: rgb(231, 220, 231);
  margin: 70px;
  border-style: solid;
  font-family: 'Tahoma', Geneva, Verdana, sans-serif;

} 

.meh {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 1px;
  padding: 1px;
}

